.mapboxgl-map {
    width: 100% !important;
    height:400px;
    border-radius: 0 0 5px 5px;
}
  
.marker {
    background-image: url('marker.png');
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0.7; 
    transition: opacity 0.3s ease;
    filter: hue-rotate(120deg) saturate(1.2);
}

.marker:hover {
    opacity: 1;
}