td {
    border: 1px solid #dddddd;
    padding: 8px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table td:nth-child(1) {
    width: 90%;
}

.root {
    flex-grow: 1;
    display: flex;
    height: 600;
    margin-bottom: 5%;
    background-color: rgba(0,0,0,0.1);
}

.panel {
    overflow-y: auto;
    width: 90%;
}
.tabs {
    border-right: 1px solid grey;
}

.PrivateTabIndicator-colorSecondary-3 {
    background-color: #83a865 !important;
}